/* Test */
/* Programmé par Suzanne Huard */
/* Le 8 mars 2019 */

body
{
    width: 900px;
    margin: auto;
    background: url(img/mesh-1430107_1280.png);
}

h1, h2
{
    text-align: center;
    color: blue;
}

h1{
    font-size: 36px;
}
h2{
    font-size: 24px;
}

p {
    font-size: 14px;
    text-align: justify;
}

/* unvisited link */
a:link {
    color: dodgerblue;
}

/* visited link */
a:visited {
    color: darkblue;
}

/* mouse over link */
a:hover {
    text-underline: black;
}