html,body {
    margin: 0;
    height: 100%;
}

.bg-1{
    background-image: url("../img/fresh.jpg");
    height: 800px;

}

.bg-2{
    background-image: url("../img/paper.jpg");
    height: 300px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.parallax1{
    background-image: url("../img/jardin.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
    background-image: url("../img/fresh.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carreJaune{
    background-color: rgba(224, 217, 29, .5);
}

.carreGris{
    background-color: rgba(255, 255, 255, .5);
}

h1{
    font-size: 50px;
    color: white;
    font: bold;
    padding-top: 30px;
}

h2{
    font-size: 36px;
    color: black;
}

h3{
    font-size: 30px;
    color: white;
}

h3-1{
    font-size: 30px;
    color: black;
   }

hr{
    border-color: white;
    border-width: 3px;
    max-width: 350px;
}

.titre1 {
    font-size: 50px;
    color: hotpink;
}

.jumbotron1{
    text-align: center;
    background-color: dimgrey;
    height: 375px
    padding-bottom: 25px;
    margin-bottom: 0px;
}
.gris{
    background-color: lightslategrey;
    color: black;
}

.noir {
    background-color: black;
    color: white;
}

.p {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.p2 {
    padding-top: 0px;
    padding-bottom: 100px;
}

.pied-page {
    font-size: 14px;
    bold;
}

.margin {
    margin-top: 15px;
    margin-bottom: 15px;
}


/*cellulaire*/
@media only screen and (max-width: 575px) {

    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    h3, h3-1 {
    font-size: 12px;
    }

    .bg-1{
        background-image: url("../img/oiseau-mq-cell.jpg");
        height: 400px;
    }
}

/*tablettes*/
@media only screen and (min-width: 576px) and (max-width: 1199px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3, h3-1 {
        font-size: 16px;
    }
    .bg-1{
        background-image: url("../img/banc-mq-tab.jpg");
        height: 400px;
    }
}



/* Color Navbar */
.navbar {
    background-color: #25d032;
}
.navbar .navbar-brand {
    color: #1b1c1c;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #363a37;
}
.navbar .navbar-text {
    color: #1b1c1c;
}
.navbar .navbar-text a {
    color: #363a37;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #363a37;
}
.navbar .navbar-nav .nav-link {
    color: #1b1c1c;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #363a37;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #25d032;
    border-color: #11bd06;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #1b1c1c;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #363a37;
    background-color: #11bd06;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #11bd06;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #363a37;
    background-color: #11bd06;
}
.navbar .navbar-toggle {
    border-color: #11bd06;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #11bd06;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #1b1c1c;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #1b1c1c;
}
.navbar .navbar-link {
    color: #1b1c1c;
}
.navbar .navbar-link:hover {
    color: #363a37;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #1b1c1c;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #363a37;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #363a37;
        background-color: #11bd06;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #1b1c1c;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #363a37;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #363a37;
        background-color: #11bd06;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #1b1c1c;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #363a37;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #363a37;
        background-color: #11bd06;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #1b1c1c;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #363a37;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #363a37;
        background-color: #11bd06;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #1b1c1c;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #363a37;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #363a37;
    background-color: #11bd06;
}