html, body {margin:0; height:100%;}


.parallax-1 {
    background-image: url("img/bebe.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h1 {
    font-size: 36px;
    color: black;
}

.h2 {
    font-size: 30px;
    color: black;
    text-align:right;
}

.h3 {
    font-size: 26px;
    color: black;
}

.h4 {
    font-size: 16px;
    color: black;
}

.h4-title {
    font-size: 16px;
    color: white;
}

.h5 {
    font-size: 12px;
    color: dimgrey;
}

.h6 {
    font-size: 9px;
    color: dimgrey;
}

.pTB {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pTop {
    padding-top: 25px;
}

.pBottom {
     padding-bottom: 25px;
 }

.mTB {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mLR {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}


.mL {
    margin-left: 10px;
}

hr {
    max-width: 50px;
    border-width: 2px;
    border-color: #ffffff;
    margin-left: 2px;
}


.bg-1 {
    background-color: grey;
 }

.bg-2 {
    background-color: #12789a;
}

.bg-3 {
    background-color: LightGray;
}

.row2 {
    background-color: white;
    opacity: .5;
    heigt: 20px;
}