html, body {margin:0; height:100%;}

.parallax-1 {
    background-image: url("img/bebe.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.a:link {
    font-size: 36px;
    color: black;
}

.a.visited {
    font-size: 36px;
    color: black;
}

.a.hover {
    font-size: 36px;
    color: black;
}

.a.active {
    font-size: 36px;
    color: black;
}

.h1 {
    font-size: 36px;
    color: black;
}

.marginHaut {
    margin-top: 50px;
}

.h2 {
    font-size: 30px;
    color: black;
    text-align:right;
}

.h3 {
    font-size: 26px;
    color: black;
}

.h4 {
    font-size: 16px;
    color: black;
}

.h5 {
    font-size: 12px;
    color: dimgrey;
}

.h6 {
    font-size: 9px;
    color: dimgrey;
}

.pTB {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pTB1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pTop {
    padding-top: 40px;
}

.pBottom {
     padding-bottom: 40px;
 }

.mTB {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mLR {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}


.mL {
    margin-left: 10px;
}

.mL2 {
    margin-left: 15px;
}
.mBottom {
    margin-bottom: 20px;
}


hr {
    max-width: 50px;
    border-width: 2px;
    border-color: #ffffff;
    margin-left: 2px;
}


.bg-1 {
    background-color: grey;
 }

.bg-2 {
    background-color: #12789a;
}

.bg-3 {
    background-color: LightGray;
}

.bg-4 {
    background-image: url("img/moniteurs.jpg")
}

.bg-5 {
    background-image: url("img/eau.jpg")
}

.row1 {
    height: 75%;
}

.row2 {
    background-color: white;
    opacity: .75;
    heigt: 100%
}


/***** ACCORDÉON***********/

.accordion {
    background-color: #12789a;
    color: #00000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px;
    text-align: left;
    outline: 10px;
    font-size: 20px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}


.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;

}


.panel {
    padding: 0 18px;
    background-color: white;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.active:after {
    content: '\2796';
}